<div id="sfnc" class="forabg">
    <div class="inner"><span class="corners-top"><span></span></span>
        <ul class="topiclist">
            <li class="header">
                <dl>
                    <dt>SFNC</dt>
                </dl>
            </li>
        </ul>
        <dl>
            <dd class="bg2" style="height:20px;line-height:20px;">
                <div id="sfnc_container">
                    <div id="sfnc_loading">&nbsp</div>
                    <div id="sfnc_ticker">
                        <ul style="list-style: none;">
                            <li>SFNC</li>
                        </ul>
                    </div>
                </div>
            </dd>
        </dl>
    <span class="corners-bottom"><span></span></span></div>
</div>